@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

.page {
  overflow: hidden;
}

.page .page__header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #3500d3;
}

.page .page__header .header__link {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page .page__header .hamburger {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.page .page__header .hamburger .hamburger__span {
  display: block;
  width: 40px;
  height: 7px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 9px;
  top: 20px;
}

.page .page__main {
  z-index: -1;
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90vh;
  background-color: white;
  width: 100%;
}

.page .page__main .main__title {
  color: #3500d3;
  text-align: center;
}

.page .page__main .main__welcome {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .page__main .main__delete {
  width: 20px;
  height: 20px;
  background-color: #3500d3;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

.page .page__main .main__aside {
  position: fixed;
  right: -30vw;
  top: 0;
  width: 30vw;
  height: 90vh;
  background-color: white;
  border-left: #3500d3 4px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

@media (max-width: 764px) {
  .page .page__main .main__aside {
    width: 100vw;
    right: -100vw;
  }
}

.page .page__main .main__aside.main__aside--active {
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .page__main .nav__container {
  width: 80%;
  height: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page__main .nav__link {
  font-size: 30px;
  text-decoration: none;
  color: #3500d3;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */